.header {
  padding: 1rem;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  z-index: 1000;
}

.title {
  padding: 0 20px;
  font-size: 24px;
}

.icon_button {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.3s;
}

.icon_button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
